@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/*@font-face {
  font-family: 'FuzzyBubbles';
  src: /*url('/fonts/FuzzyBubbles-Bold.ttf') format('ttf'),*/
  /*font-display: bold;
  font-weight: 400 500 700;*/
/*}*/

.masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}

.masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* restyle */
.buy-button {
  /* display: block; */
  /* margin: 1em auto; */
  /* width: 250px; */
  padding: 0.5em;
  font-size: 20px;
  background: #ff7fbf;
  color: #fff;
  cursor: pointer;
  white-space: pre-line;
  border-radius: 3rem;
  padding: 1rem;
  font-family: 'Fuzzy Bubbles';
  text-transform: uppercase;
  /*border-top: rgb(133, 133, 133) 3px solid;
  border-left: rgb(133, 133, 133) 3px solid;
  border-bottom: black 3px solid;
  border-right: black 3px solid;*/
} 
.buy-button:hover {
  background: #9db89b;
  color: #1d3007;
}

.buy-button-outline{
  /* display: block; */
  /* margin: 1em auto; */
  /* width: 250px; */
  padding: 0.5em;
  font-size: 20px;
  font-family: 'Fuzzy Bubbles';
  text-transform: uppercase;
  background: #fff;
  color: #ff7fbf;
  cursor: pointer;
  white-space: pre-line;
  border-radius: 3em;
  border: #ff7fbf 3px solid;
  /*
  border-top: rgb(133, 133, 133) 3px solid;
  border-left: rgb(133, 133, 133) 3px solid;
  border-bottom: black 3px solid;
  border-right: black 3px solid;
  */
}

.buy-button:hover {
  /* background: #9db89b;
  color: #1d3007; */
}